

<!-- Header -->
<header class="header">


        <div class="top-menu-container">
            <h3 class="app-heading">WELLS FARGO deiWells</h3>
        <div class="top-menu-item">
        </div>

    </div>

</header>
    <!-- end of header-->
    <router-outlet></router-outlet>
    <!-- <app-graph></app-graph> -->

    <!-- footer -->
    <footer class="footer">
        <div class="creator-part">
            <div class="copyright-text">
                <p>Copyright &copy; 2022. deiWells. All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <!-- end of footer -->