<app-search></app-search>
<div class="component">
  <div class="component-container">

    <div class="item item-1">
      <div class="navigation-heading">
        <label>Search</label>
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="navigation-search">
          <!-- <input type="text" class="search-input" placeholder="People..." formControlName="people"> -->
          <input type="text" class="search-input" placeholder="Company live internet search ..." formControlName="company">
          <!-- <input type="text" class="search-input" placeholder="Industry..." formControlName="industry">
          <input type="text" class="search-input" placeholder="Location..." formControlName="location"> -->
          <input type="text" class="search-input" placeholder="Diversity filter..." formControlName="diversity">
        </div>
        <div class="search-actions">
          <button type="submit" class="serach-btn" mat-raised-button color="primary">
            Search
          </button>
          <button type="button" class="serach-btn" mat-raised-button color="secondry" (click)="onReset()">
            Reset
          </button>
        </div>
      </form>
    </div>
    <div class="item item-2">

    </div>
    <div class="item item-3">
      <div class="table-heading">
        <button style="float: right;" type="button" (click)="exportTable()">
          <i class="fas fa-file-excel"></i>
        </button>

        <h2 style="margin-left: 8rem;margin-top: -0.6rem;">{{title}}</h2>

      </div>
      <mat-spinner *ngIf="spinner"></mat-spinner>
      <div class="mat-elevation-z8" *ngIf="displayTable">
        <table matSort  id="minorityOwnedReport" mat-table [dataSource]="dataSource" #cmpTbSort="matSort"  (matSortChange)="announceSortChange($event)">

          <ng-container matColumnDef="Company Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Company Name"> Company Name </th>
            <td mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="onCompanySelect(companyName)">
                <span #companyName class="badge">{{element.name}}</span>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="People">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> People </th>
            <td mat-cell *matCellDef="let element"> {{element.people}} </td>
          </ng-container>


          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
          </ng-container>

          <ng-container matColumnDef="Diversity Dimension">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Diversity Dimension </th>
            <td mat-cell *matCellDef="let element"> {{element.diversity}} </td>
          </ng-container>

          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Company URL</th>
            <td mat-cell *matCellDef="let element">
              <a href="{{element.companyUrl}}" target="_blank">
                <span class="badge">{{element.companyUrl}}</span>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
    <div class="item item-4" id="styles">
    </div>

    <div class="row-2 row2item1">
    </div>
    <div class="row-2 row2item2">
    </div>
    <div class="row-2 row2item3">
      <div class="gbtn">

      </div>
    </div>
    <div class="row-2 row2item4">

    </div>
  </div>

</div>